In [1]:
import pandas as pd

In [3]:
erste = pd.read_csv(r"/Users/test/Documents/Documents/Personal/finance-tracker/data/raw/August/erste_august.csv", encoding="utf-16")
monobank = pd.read_csv(r"/Users/test/Documents/Documents/Personal/finance-tracker/data/raw/August/monobank_august.csv")
revolut = pd.read_csv(r"/Users/test/Documents/Documents/Personal/finance-tracker/data/raw/August/revolut_august.csv")

In [6]:
erste.head(3)

  Datum unosa    Iznos                                       Opis  Bilješka
0  31.08.2025   −50,00    462765XXXXXX9899, Revolut**7357* Dublin       NaN
1  30.08.2025  −800,00                                         '-       NaN
2  28.08.2025   200,00  Prijenos sa HR2924020063211750986, ??????       NaN

In [7]:
revolut.head(3)

,Type,Product,Started Date,Completed Date,Description,Amount,Fee,Currency,State,Balance
0,Card Payment,Current,2025-08-01 19:59:43,2025-08-02 10:41:29,Petrol,-30.04,0.0,EUR,COMPLETED,127.91
1,Card Payment,Current,2025-08-01 10:53:57,2025-08-02 16:06:33,AliExpress,-0.95,0.0,EUR,COMPLETED,126.96
2,Card Payment,Current,2025-07-31 18:22:23,2025-08-03 10:38:19,SPAR Food & Fuel,-0.95,0.0,EUR,COMPLETED,126.01

In [8]:
monobank.head(3)

,Date and time,Description,MCC,"Card currency amount, (UAH)",Operation amount,Operation currency,Exchange rate,"Commission, (UAH)","Cashback amount, (UAH)",Balance
0,15.08.2025 00:54:28,Від: FUIB MoneyTransfer,6012,800.0,800.0,UAH,—,—,—,4029.42
1,05.08.2025 11:31:08,GOOGLE *YouTubePremium,5818,-149.0,-149.0,UAH,—,—,—,3229.42